aiofiles
async-exit-stack
async-generator
email-validator
fastapi
graphene
h2
httptools
itsdangerous
jinja2
orjson
pip-chill
python-dotenv
python-multipart
pyyaml
spleeter
ujson
uvicorn
uvloop
watchgod
websockets
youtube-dl
